/*... Navigation ...*/
.navbar-nav{
	font-size: 1.1em;
	font-weight: 500;
}

/*### welcome-section ###*/
.line{
	width: 80%;
	height: 3px;
	background-color: #aaa;
	margin: 30px auto;
	border-radius: 5px;
}

/*### Three columns section*/
[class*="icon"]{
	font-size: 50px;
}
.icon-1{
	color: #FF5B2B;
}
.icon-2{
	color: #853894;
}
.icon-3{
	color: #234CA5;
}

/*###Two columns section ###*/
.btn-primary{
	background-color: #853894 !important;
	border: none !important;