/*... Navigation ...*/
.navbar-nav{
	font-size: 1.1em;
	font-weight: 500;
}

/*### welcome-section ###*/
.line{
	width: 80%;
	height: 3px;
	background-color: #aaa;
	margin: 30px auto;
	border-radius: 5px;
}

/*### carousel ###*/
.caption-1{
	position: absolute;
	top: 40%;
}
.caption-2{
	position: absolute;
	top: 70%;
}
.caption-3{
	position: absolute;
	top: 20%;
}
.carousel-caption h1, .carousel-caption h5{
	font-size: 5em;
	font-weight: 400;
	text-transform: uppercase;
	text-shadow: 1px 1px #000;
}
.carousel-caption p{
	font-size: 2em;
}

/*### fixed section ###*/
.fixed{
	height: 550px;
	background: url('img/mac.png') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/*### emoji section ###*/
.fun{
	width: 100%;	font-size: 1em;
	font-weight: bold;
	border: 0.5px solid black;
	padding: 0.3em;
}

/*### Three columns section*/
[class*="icon"]{
	font-size: 50px;
}
.icon-1{
	color: #FF5B2B;
}
.icon-2{
	color: #853894;
}
.icon-3{
	color: #234CA5;
}

/*###Two columns section ###*/
.btn-primary{
	background-color: #853894 !important;
	border: none !important;
}

/*### connect-section ###*/
.facebook{
	color: #375D81;
}
.twitter{
	color: #5EB6DD;
}
.google{
	color: red;
}
.instagram{
	color: #aaa;
}
.youtube{
	color: red;
}

/*### footer ###*/
footer{
	background-color: #223645;
	color: white;
	font-size: 1em;
	padding-top: 1.1em !important;
}


@media(max-width: 995px){
	.carousel-caption{
		top: 20%;
	}
	.caption-2{
		font-size: 0.5em;
		top: 10%
	}
	.caption-3{
		top: 20%;
		font-size: 0.6em;
	}
}

@media(max-width: 567px){
	#connect a{
		font-size: 40px;
	}
	.social-icons{
		display: flex;
		justify-content: space-evenly;
	}
}